.product-card {
    display: flex;
    margin: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-image {
    height: 250px;
    margin: 30px;
}

.product-title  {
    text-transform: uppercase;
    display: flex;
    align-items: center;
}


.product-card2 {
    display: flex;
    justify-content: space-between;
}

.product-image2 {
    height: 250px;
    margin: 30px;
}

.product-title2  {
    text-transform: uppercase;
    margin-left: 37px;
}